@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --black: #3d3b38;
    --orange: #e79a2e;
    --light-color: rgba(38, 38, 36, 0.87)
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

*::selection{
    background:var(--orange);
    color:#fff;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding-top:2rem 9%;
} 

.heading{
    text-align: center;
    padding:2.5rem 0
} 

.heading span{
    font-size: 2rem;
    background-color: blueviolet;
    color: black;
    border-radius: .5rem;
    padding:.1rem .5rem;
}

.heading span.space{
    background:none;
}


li:hover{
    background-color: cornflowerblue;
}

.carousel{
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width:450px){

    .carousel-inner .carousel-item img{
        height: 500px;
    }
}

.h_iframe-aparat_embed_frame{
    position:relative;
}
.h_iframe-aparat_embed_frame .ratio{
    display:block;
    width:100%;
    height:auto;
}
.h_iframe-aparat_embed_frame iframe{
    position:absolute;
    top:0;
    left:5%;
    width:90%;
    height:90%;
}


.contact .row .info{
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .row div form{
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .row div form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row div form .inputBox input, .contact .row div form textarea{
    width:49%;
    margin:.7rem 0;
    padding:1rem;
    font-size: 1.1rem;
    color:#333;
    background:#f7f7f7;
    text-transform: none;
}

.contact .row div form textarea{
    height: 10rem;
    resize: none;
    width:100%;
} 


.footer{
    background:#333;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    padding:1rem 0;
    flex:2 2 18rem;
}

.footer .box-container .box h3{
    padding:.7rem 0;
    color:#fff;
}

.footer .box-container .box p{
    font-size: 1.1rem;
    padding:.7rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.1rem;
    padding:.7rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}
.footer .box-container .box i{
    font-size:3rem;
    color: crimson;
}
.footer .box-container .box i:hover{
    font-size:3rem;
    color: var(--pink);
}
